<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
</p>

<p>
  <strong>Location:</strong>
  <%= @course.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @course.time %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
